.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 128, 9); 
    color: white; 
  }
  
  .todo-item {
    margin-bottom: 8px;
    border-radius: 8px; /* Add rounded corners */
    padding: 8px 12px; /* Add padding for spacing */
    background-color: rgba(72, 13, 174, 0.837); /* Add a semi-transparent background */
  }
  
