.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 128, 9); 
    color: white; 
  }
  
  .todo-container {
    width: 300px;
  }
  
  .todo-item {
    margin-bottom: 8px;
    border-radius: 8px; /* Add rounded corners */
    padding: 8px 12px; /* Add padding for spacing */
    background-color: rgba(72, 13, 174, 0.837); /* Add a semi-transparent background */
  }
  
  .add-button,
  .remove-button {
    background-color: rgb(191, 255, 0);
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners to buttons */
  }
  
  .remove-button {
    background-color: red;
  }
  
  .add-button:hover,
  .remove-button:hover {
    opacity: 0.8;
  }